<!-- # app/views/auth/form_login.html.erb -->

<!-- menampilkan pesan notice -->
<% if notice %>
    <p><%= notice %></p>
<% end %>

<!-- menampilkan pesan alert -->
<% if alert %>
    <p><%= alert %></p>
<% end %>

<div class="homepage row">
	<div class="col-md-7">
	<div class="posts">
	 		<center><%= image_tag "logo.jpg", height: 600 %></center>
  	</div>
  </div>
  <div class="col-md-5">
    <div class='form-upload'>
    	<center><%= image_tag "ins.png", height: 80 %><br></center>
      <!-- menampilkan form login -->
    	<%= form_tag controller: :auth, action: :login, local: true do |f| %>
        <%= text_field_tag :email, '', placeholder: 'Email', class: 'form-control' %> <br>
        <%= password_field_tag :password, '', placeholder: 'Password', class: 'form-control' %> <br>

        <%= submit_tag 'Login', class: "btn btn-primary btn-block" %> <br>
    	<% end %>
			-------------------- ATAU -------------------- <br>
			<center><li class="fa fa-facebook-official"> Masuk Dengan Facebook</li>
			<p>Lupa Kata Sandi?</p></center>
    </div>
		<div class='form-upload'>
			<center>Tidak punya akun? <%= link_to 'Buat akun', form_register_path %></center>
    </div>
			<center><%= image_tag "app.PNG", height: 100 %></center>
  </div>
</div>