<!DOCTYPE html>
<html>
  <head>
    <title>InstagramClone</title>
    <%= favicon_link_tag 'icon.png' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%unless current_user.blank? -%>
    <!--Navigation Bar-->
    <nav class="navbar navbar-light bg-light d-flex">
      <div class="container">
        <div class="logo">
          <a class="navbar-brand" href="#">
             <%= image_tag "ins.png", height: 40 %>
          </a>
        </div>
        <div class="m-auto">
          <%= form_with url: search_path, method: :get, local: true, class: 'form-inline search-form' do |form| %>
            <%= form.text_field :query, value: params[:query], class: 'form-control mr-sm-2', placeholder: '#search' %>
          <% end %>
        </div>
        <div class="user-section">
          <a href="<%= home_index_path %>">
            <i class="fa fa-home"></i>
          </a>
          <a><i class="fa fa-commenting-o"></i></a>
          <a href="<%= posts_new_path %>">
            <i class="fa fa-plus-square-o"></i>
          </a>
          <a><i class="fa fa-compass"></i></a>
          <a><i class="fa fa-heart-o"></i></a>
          <%unless current_user.blank? -%>
            <a href="<%= user_path(current_user)%>">
              <i class="fa fa-user"></i>
            </a>
          <%else -%>
          not signed in
          <%end-%>
        </div>
      </div>
    </nav>
    <%end-%>

    <!--Main content-->
    <main class="container" style="min-height: 650px;">
      <%= yield %>
    </main>

    <!--Footer-->
    <footer class="container footer">
      <nav class="navbar d-flex">
        <ul>
          <li>ABOUT US
          </li>
          <li>SUPPORT</li>
          <li>PRESS</li>
          <li>API</li>
          <li>JOBS</li>
          <li>PRIVACY</li>
          <li>TERMS</li>
          <li>DIRECTORY</li>
          <li>PROFILES</li>
          <li>HASHTAGS</li>
          <li>LANGUAGE</li>
        </ul>
        <p> © 2021 INSTAGRAM </p>
      </nav>
    </footer>
  </body>
</html>
